.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.2rem;
}
.pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 58px;
    color: black;
}
@media(max-width:1000px){
    .pageTitle{
        font-size: 5rem;
    }
}