.media{
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 5px 0;
    background-color: #6b5b95;
    border-radius: 1.5rem;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.media:hover{
    background-color: white;
    color: black;
}
.poster{
    border-radius: 1.5rem;
}
.tittle{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding: .8rem 0;
}
.subtitle{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 0 .2rem;
    padding-bottom:.2rem ;   
}
@media(max-width:1232px){
    .media{
        display: flex;
        /* width: 30%; */
    }
    }
@media(max-width:970px){
    .media{
            display: flex;
            width: 43%;
        }
        } 
@media(max-width:770px){
            .media{
                    display: flex;
                    width: 48%;
                    gap:2rem;
                }
                } 
@media(max-width:670px){
   .media{
        display: flex;
        width: 45%;
        }}
        @media(max-width:652px){
            .media{
                 display: flex;
                 width: 48%;
                 } }                       
@media(max-width:550px){
.media{
    width: 100%;
}
}
