*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:#a2b9bc;
    padding: 1.5rem 5rem
}

span{
    color: #6b5b95;
}

.title{
   font-size: 5.5rem;
   color: white;
   text-transform: uppercase;
   font-weight: 600;
   text-align: center;
   padding-top: 2rem;
   text-shadow: 3px 5px 5px #6b5b95;
}


@media(max-width:1200px){
    .logo-title{
        gap: 4rem;
        }
        }

@media(max-width:1040px) {
    .logo-title{
        gap: 2rem;
    }
    .title{
        font-size: 6rem;}
    .logoimje{
        width: 18rem;
        height: 18rem;
    }
} 
@media(max-width:900px){
    .logo-title{
        gap: 2rem;
    }
    .title{
        font-size: 5rem;}
    .logoimje{
        width: 18rem;
        height: 18rem;
    }
}

@media(max-width:802px) {
    .logo-title{
        display: flex;
        flex-direction: column;
       
    }
    .title{
        font-size: 5rem;
        padding-top: .6rem;
    }
    .logoimje{
        padding-bottom: .2rem;
        width: 16rem;
        height: 15rem;
    }
}   


